.git
.gitattributes
.gitignore
.github/

**/.env
**/.env.*

**/node_modules/
**/target/
**/dist/
**/build/
**/coverage/
frontend/.vite/

**/cypress/screenshots/
**/cypress/videos/

terraform/
*.md
LICENSE
docker-compose.yml
Dockerfile
**/*.log

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
