SPRING_DATASOURCE_DB=kanban
SPRING_DATASOURCE_USERNAME=kanban
SPRING_DATASOURCE_PASSWORD=

JWT_SECRET_KEY=

ACS_EMAIL_CONNECTION_STRING=
ACS_EMAIL_SENDER_ADDRESS=

APP_MAIL_DELIVERY_REPORT_KEY=

AZURE_STORAGE_CONNECTION_STRING=

CAPTCHA_ENABLED=false
CAPTCHA_SECRET=
VITE_RECAPTCHA_SITE_KEY=
