SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/kanban
SPRING_DATASOURCE_USERNAME=kanban
SPRING_DATASOURCE_PASSWORD=

JWT_SECRET_KEY=

ACS_EMAIL_CONNECTION_STRING=
ACS_EMAIL_SENDER_ADDRESS=

SECURITY_RATE_LIMIT_REDIS_HOST=localhost
SECURITY_RATE_LIMIT_REDIS_PORT=6379

STOMP_RELAY_HOST=localhost
STOMP_RELAY_PORT=61613
STOMP_RELAY_USERNAME=kanban
STOMP_RELAY_PASSWORD=kanban
